.appWrapper {
  display: flex;
  flex-direction: column-reverse;
  flex-basis: 100%;
  width: 100%;
}

@media (min-width: 1000px) {
  .appWrapper {
    height: 100vh;
    overflow-y: auto;
    flex-direction: row;
  }
}
