.Listing {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 500px;
}

.ListingHeader {
  padding: 20px;
  background-color: color(blue alpha(20%));
}

.ListingContent {
  overflow-y: scroll;
}
